# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

rdcanon/rdcanon.egg-info/

# testing
/coverage

# production
/flask_session
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/env
*.pyc
/phactorlite/static/js
/*.egg-info
npm-debug.log*
yarn-debug.log*
yarn-error.log*
